.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #494D5F; /* 如果需要背景色 */
  padding: 10px; /* 根据需要调整间距 */
  z-index: 999; /* 根据需要调整 z-index，以确保它位于页面上其他元素之上 */
  color: white;
}

.search-area {
  background-color:  #8458B3;
  border-radius: 10px;
}

.search-area-label {
  color: white;
}

.overflow {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 200px
}

.overflow:hover {
  overflow: visible;
}

.overflow:hover span{
  position: relative;
  background-color: white;

  box-shadow: 0 0 4px 0 black;
  border-radius: 1px;
}

.banner {
  position: relative;
}

.banner-children {
  position: absolute;
  top: 45px; /* 控制内容与 banner 顶部的距离 */
  width: 100%;
}

.topNavbarBrandImg {
  height: 100px;
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.2);; /* 设置背景透明 */
  backdrop-filter: blur(10px); /* 可选：添加模糊效果 */
  /* 其他样式，例如 padding、颜色等，根据需要自行调整 */
}

body .navbar {
  padding: 0px;
}

body .custom-container {
  margin: 0px;
  max-width: 100%;
}

.custom-logout-button-container {
  height: 100px;
}

body .custom-navbar-brand {
  width: 150px;
  display: flex;
  white-space: normal;
}

.brand-title {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.dashboard {
  width: 100%;
  height: 100%;
}

.main-content {
  background-color: rgba(255, 255, 255, 0.1);; /* 设置背景透明 */
  backdrop-filter: blur(10px);
  width: 60%;
  height: 100%;
}

.main-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
